<div class="container ">
    <div class="row py-5 justify-content-center ">
        <div class="col-md-6 text-center bg-warning rounded-lg">
            <h1 class="py-2">Habit Tracker</h1>

            <img src="/images/logo.png" alt="" class="img-fluid mb-3">
            <h4 id="login" class="text-dark">Login</h4>
            <form action="/user/createSession" method="post" class="form-group">

                <label for="">email</label>
                <input type="email" name="email" class="form-control " placeholder="Enter email">
                <label for="">password</label>
                <input type="password" name="password" class="form-control mb-4 " placeholder="Enter password">
                <input type="submit" class="btn btn-success btn-block mb-4 ">Login</input>
            </form>

            <p class="mb-5">New user ?<a href="/user/register">register</a></p>

        </div>
    </div>
</div>
<%- include("./partials/masseges"); %>