<link rel="stylesheet" href="../assets/css/style.css">
<div class="container ">
    <div class="row py-5 justify-content-center ">
        <div class="col-md-6 text-center bg-warning rounded-lg">
            <h1 class="py-2 ">Habit Tracker</h1>
            <img src="/images/logo.png" alt="" class="img-fluid mb-3">
            <h4 class="text-dark fw-bolder">Create an account and login</h4>


            <a href="/user/register" class="btn btn-danger btn-block">Register</a>
            <a href="/user/login" class="btn btn-success btn-block mb-5">Login</a>
        </div>
    </div>
</div>
<%- include("./partials/masseges"); %>